body {
    background-color: #231651;
}
h1 {
    color: violet;
    width: 50%;
    margin: 0 auto;
    padding: 30px;

}
.caixa{
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
  }

  input,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    background-color: #2374ab;
    border: 1px solid #2374ab;
    border-radius: 50px;
    transition: background-color 1s ;
    padding: 10px;
  }

  button:hover {
    background-color: mediumvioletred;
  }
